<form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label class="control-label" for="projectName">Project Name</label>
    <div class="input-group">
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-folder-open"></span>
      </span>
      <input class="form-control" formControlName="projectName" type="text" id="projectName">
    </div>
    <span *ngIf="!projectForm.get('projectName').valid && projectForm.get('projectName').touched" class="help-block">
      <span *ngIf="projectForm.get('projectName').errors && projectForm.get('projectName').errors['asyncForbiddenProjectName']">This project name is forbidden (asynchronously)!</span>
      <span *ngIf="projectForm.get('projectName').errors && projectForm.get('projectName').errors['forbiddenProjectName']">This project name is forbidden!</span>
      <span *ngIf="projectForm.get('projectName').errors && projectForm.get('projectName').errors['required']">This field is required!</span>
    </span>
  </div>
  <div class="form-group">
    <label class="control-label" for="email">E-mail</label>
    <div class="input-group">
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-envelope"></span>
      </span>
      <input class="form-control" formControlName="email" type="text" id="email">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label" for="status">Project Status</label>
    <div class="input-group">
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-stats"></span>
      </span>
      <select name="status" id="status" class="form-control" formControlName="projectStatus">
        <option *ngFor="let status of statuses" [value]="status.id">{{ status.description }}</option>
      </select>
    </div>
  </div>
  <button class="btn btn-primary" type="submit" [disabled]="!projectForm.valid">Submit</button>
</form>