<div style='border: 2px dashed black'>
  <p [style.background-color]="getColor()">
    Style.background-color; {{ 'Server' }} with ID {{ serverID }} is {{ getServerStatus() }}
  </p>
  <p [style]="'background-color: ' + 'getColor()'">
    Style getColor; {{ 'Server' }} with ID {{ serverID }} is {{ getServerStatus() }}
  </p>
  <p [ngStyle]="{backgroundColor: getColor()}"
  [ngClass]="{online: serverStatus === 'online'}">
    ngStyle getColor; {{ 'Server' }} with ID {{ serverID }} is {{ getServerStatus() }}
  </p>
</div>